<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="cards" data-aos="fade-up">
        <div class="card-bodoy ">
          <div class="row">
            <div class="col-lg-12">
              <div class="post-comment-sectionh">

                <div class="row">
                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_5.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_6.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_5.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_6.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_5.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="post-author">
                      <div class="rotate-img">
                        <img src="../assets/images/inner/inner_6.jpg" alt="banner" class="img-fluid" />
                      </div>
                      <div class="post-author-content">
                        <h5 class="mb-1">
                          Virus Kills Member Of Council Advising Iran’s
                          Supreme Leader
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </p>
                      </div>
                    </div>
                  </div>
                </div>



              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
